<h1>All Architectural Works</h1>
<div class="add_item">
  <%= button_to "Add an Architectural Work", new_architecture_path, method: :get %>
</div>
<div class="items">
  <ul>
  <% @architectures.each do |architecture| %>
    <li class="item"><%= link_to architecture.name.capitalize, architecture_path(architecture) %></li>
  <% end %>
  </ul>
</div>
