<h1 class="welcome">All Your Artists</h1>
<div class="add_item">
  <%= button_to "Add an Artist", new_artist_path, method: :get %>
</div>
<ul>
<div class="items">
  <% @artists.each do |artist| %>
    <li class="item"><%= link_to artist.name, artist_path(artist) %></li>
  <% end %>
  </ul>
</div>
