<h2 class='welcome2'><%= @artist.name %></h2>

<ul>
  <% @architectures.each do |architecture| %>
    <li class="item"><%= link_to architecture.name, architecture_path(architecture) %></li>
  <% end %>
</ul>
