<h2>Name: <%= @artist.name %></h2>

<ul>
  <% @artist.architectures.each do |architecture| %>
    <li class="item"><%= link_to architecture.name, architecture_path(architecture) %></li>
  <% end %>
</ul>
