<h1 class='welcome'>All Your Styles</h1>
<div class="add_item">
  <%= button_to "Add a Style", new_style_path, method: :get %>
</div>
<ul>
<% @styles.each do |style| %>
  <li class='item'><%= link_to style.name, style_path(style) %></li>
<% end %>
</ul>
