<h1 class="welcome">All Cities</h1>
<div class="add_item">
  <%= button_to "Add a City", new_city_path, method: :get %>
</div>
<div class="items">
  <ul>
  <% @cities.each do |city| %>
    <li class="item"><%= link_to city.name, city_path(city) %></li>
  <% end %>
  </ul>
</div>
