<h1 class='welcome2'><%= @city.name %></h1>

<ul>
  <% @architectures.each do |architecture| %>
    <li class="item"><%= link_to architecture.name, architecture_path(architecture) %></li>
  <% end %>
</ul>
