.title_bar {
  background-color: #eee;
  height:60px;
  width:960px;
  border: solid red;
}

.title_buttons {
  border:2px solid #4CAF50;
  float: left;
}

.architecture_search {
  color: #2ACF13;
  float: left;
  padding-left: 10px;
  display: inline;
}

.login_status {
  color: blue;
  float: right;
}
