.heading {
  display: flex;
  background-color: grey;
  border: 3px solid black;
  padding: 0 5px 5px 5px;
  justify-content: space-between;
}

.left_block {
  float: left;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: #eee;
  display: flex;
}

.title_buttons {
  border:2px solid #fff;
  float: left;
}

.title_buttons:hover {
  background-color: red;
}

.middle_block {
  font-size: 30px;
  font-weight: bold;
  color: #eee;
}


.right_block {
  margin-top: 2px;
  font-size: 15px;
  color: blue;
  float: right;
}
